*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    color:#FFFFFF ;
}
.layout{
    background: rgb(32,32,32);
    background: linear-gradient(190deg, rgba(32,32,32,1) 40%, rgba(47, 83, 117,1) 100%);
    min-height: 100vh;
}